{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Document</title>

		<link rel="stylesheet" href="{% static 'annadataa/CSS/ngo.css' %}" />
		<style>
			body {
				background-image: url("{% static '/annadataa/img/cover.jpg' %}");
				background-size: cover;
				background-attachment: fixed;
				background-repeat: no-repeat;
			}
		</style>
	</head>
	<body>
		<div class="grid">
			<div class="grid-item">
				<div class="card">
					<img
						src="/static/annadataa/img/digital.png"
						alt="digitalgreen"
						class="card-img"
					/>
					<div class="card-content">
						<h2 class="card-header">Digital Green</h2>
						<p class="card-text">
							We create digital solutions for vast sections of rural communities
							as they lift themselves out of poverty.
						</p>
						<button class="card-btn">
							<a
								href="https://www.digitalgreen.org/"
								target="_blank"
								style="text-decoration: none"
							>
								Visit <span>&rarr;</span></a
							>
						</button>
					</div>
				</div>
			</div>

			<div class="grid-item">
				<div class="card">
					<img
						src="/static/annadataa/img/akdn.jpg"
						alt="akdn"
						class="card-img"
					/>
					<div class="card-content">
						<h2 class="card-header">AKDN</h2>
						<p class="card-text">
							AKDN is dedicated to improving the quality of life of those in
							need, mainly in Asia and Africa.
						</p>
						<button class="card-btn">
							<a
								href="https://the.akdn/en/home"
								target="_blank"
								style="text-decoration: none"
							>
								Visit <span>&rarr;</span></a
							>
						</button>
					</div>
				</div>
			</div>

			<div class="grid-item">
				<div class="card">
					<img
						src="/static/annadataa/img/pradan2.png"
						alt="pradan"
						class="card-img"
					/>
					<div class="card-content">
						<h2 class="card-header">Pradan Foundation</h2>
						<p class="card-text">
							Our mission for marginalized people, especially rural women, to
							earn a decent living .
						</p>
						<button class="card-btn">
							<a
								href="https://www.pradan.net/"
								target="_blank"
								style="text-decoration: none"
							>
								Visit <span>&rarr;</span></a
							>
						</button>
					</div>
				</div>
			</div>

			<div class="grid-item">
				<div class="card">
					<img
						src="/static/annadataa/img/cohesion.png"
						alt="cohesion"
						class="card-img"
					/>
					<div class="card-content">
						<h2 class="card-header">Cohesion Foundation</h2>
						<p class="card-text">
							Cohesion is committed to sustainable development with a special
							focus on women.
						</p>
						<button class="card-btn">
							<a
								href="https://cohesionfoundation.in/"
								target="_blank"
								style="text-decoration: none"
							>
								Visit <span>&rarr;</span></a
							>
						</button>
					</div>
				</div>
			</div>

			<div class="grid-item">
				<div class="card">
					<img
						src="/static/annadataa/img/dhan2.png"
						alt="dhan"
						class="card-img"
					/>
					<div class="card-content">
						<h2 class="card-header">DHAN Foundation</h2>
						<p class="card-text">
							DHAN Foundation is an institution in the country, working for the
							upliftment of the poor
						</p>
						<button class="card-btn">
							<a
								href="https://dhan.org/"
								target="_blank"
								style="text-decoration: none"
							>
								Visit <span>&rarr;</span></a
							>
						</button>
					</div>
				</div>
			</div>

			<div class="grid-item">
				<div class="card">
					<img
						src="/static/annadataa/img/ngos.jpeg"
						alt="state wise ngos"
						class="card-img"
					/>
					<div class="card-content">
						<h2 class="card-header">For State wise List</h2>
						<p class="card-text">
							The Portal facilitates VOs/NGOs to obtain a system generated
							Unique ID, as and when signed.
						</p>
						<button class="card-btn">
							<a
								href="https://ngodarpan.gov.in/index.php/home/statewise"
								target="_blank"
								style="text-decoration: none"
							>
								Visit <span>&rarr;</span></a
							>
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
